/* Add your own styles */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border: 1px solide #ddd;
}

td{
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word;
    max-width: 200px;
    overflow: hidden;
}

thead th{
    text-align: center;
}

